In [2]:
!pip install pyspark
#The command !pip install pyspark is used to install the PySpark package using pip,
#which is the package manager for Python.

Requirement already satisfied: pyspark in /home/user/anaconda3/lib/python3.10/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/user/anaconda3/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

In [3]:
import pyspark

In [20]:
!pip install findspark
#pip is a package manager used for installing, managing, and uninstalling Python packages.

Requirement already satisfied: findspark in /home/user/.local/lib/python3.10/site-packages (2.0.1)

In [6]:
import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark=SparkSession.builder.appName("PySparkExample").getOrCreate()
#The code you provided is creating a SparkSession object in PySpark.
#SparkSession is the entry point to use Spark functionality in your Python code.

23/07/17 16:37:57 WARN Utils: Your hostname, user-ThinkPad-E480 resolves to a loopback address: 127.0.1.1; using 10.22.22.227 instead (on interface wlp5s0)
23/07/17 16:37:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/17 16:37:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/17 16:37:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/07/17 16:37:59 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/07/17 16:37:59 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [9]:
spark

In [10]:
df_pysp=spark.read.csv('/home/user/Downloads/pyspark/text.csv')
#In PySpark, spark.read is a DataFrameReader object that is used to read data from various data sources and create a DataFrame. 
#The DataFrameReader provides several methods to read data, such as csv(), json(), parquet(), text(), avro(), and more.

In [11]:
df_pysp
# here it is taking c0 and c1 as uppermost row aand thus showing their type string

DataFrame[_c0: string, _c1: string]

In [12]:
df_pysp.show()
#now we will make name and work as first row

+----+---+
| _c0|_c1|
+----+---+
|name|age|
|  hh| 23|
|  gj| 56|
+----+---+

In [13]:
df_pysp=spark.read.option('header','true').csv('/home/user/Downloads/pyspark/text.csv',inferSchema = True)
#inferSchema because without this by default it will read every column as string

In [14]:
df_pysp.show()

+----+---+
|name|age|
+----+---+
|  hh| 23|
|  gj| 56|
+----+---+

In [15]:
type(df_pysp)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pysp.head(3)

[Row(name='hh', age=23), Row(name='gj', age=56)]

In [17]:
df_pysp.printSchema()
#checking datatype of column

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [18]:
df_pysp=spark.read.csv('/home/user/Downloads/pyspark/text.csv',header = True ,inferSchema=True)

In [19]:
df_pysp.show()

+----+---+
|name|age|
+----+---+
|  hh| 23|
|  gj| 56|
+----+---+

In [39]:
#dataframe is basically a data structure because inside this we can perform various operation

In [42]:
                          ####SELECTING COLUMNS AND INDEXING###########

In [21]:
df_pysp.show()

+----+---+
|name|age|
+----+---+
|  hh| 23|
|  gj| 56|
+----+---+

In [22]:
#if i want to pickup name column

In [33]:
df_p=df_pysp.select('age')

In [31]:
df_p.show()

+---+
|age|
+---+
| 23|
| 56|
+---+

In [34]:
## in case i want to select multipe columns

In [37]:
df_pysp.select(['name','age']).show()

+----+---+
|name|age|
+----+---+
|  hh| 23|
|  gj| 56|
+----+---+

In [38]:
# how can we check datatypes

In [39]:
df_pysp.dtypes

[('name', 'string'), ('age', 'int')]

In [41]:
df_pysp.describe().show()

+-------+----+-----------------+
|summary|name|              age|
+-------+----+-----------------+
|  count|   2|                2|
|   mean|null|             39.5|
| stddev|null|23.33452377915607|
|    min|  gj|               23|
|    max|  hh|               56|
+-------+----+-----------------+

In [42]:
#adding and dropping

In [44]:
# adding a new column
df_pysp.withColumn('age after 5 year',df_pysp['age']+5).show()

+----+---+----------------+
|name|age|age after 5 year|
+----+---+----------------+
|  hh| 23|              28|
|  gj| 56|              61|
+----+---+----------------+

In [45]:
# drop column
df_pysp.drop('age after 5 year').show()

+----+---+
|name|age|
+----+---+
|  hh| 23|
|  gj| 56|
+----+---+

In [46]:
## rename 
df_pysp.withColumnRenamed('name','new name').show()

+--------+---+
|new name|age|
+--------+---+
|      hh| 23|
|      gj| 56|
+--------+---+